<div id="contents">
    <div class="section">
        <h1>Contact</h1>
        <form role="form" #contactUsFrom="ngForm" class="message">
            <input type="text" placeholder="First Name" id="firstName" name="firstName"
                #firstName="ngModel" [(ngModel)]="contactUsModel.firstName" required />
            <label *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors.required"
                        style="color: red; font-size: small;">First Name is required </label>

            <input type="text" placeholder="Last Name" id="lastName" name="lastName"
                #lastName="ngModel" [(ngModel)]="contactUsModel.lastName" required />
            <label *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors.required"
                        style="color: red; font-size: small;">Last Name is required </label>

            <input type="number" placeholder="Age" id="age" name="age" 
                #age="ngModel" [(ngModel)]="contactUsModel.age" min="1" pattern="^[1-9]+[0-9]*$" required />
            <div *ngIf="age.invalid && (age.dirty || age.touched)">
                <label *ngIf="age.errors.required" style="color: red; font-size: small;">Age is required </label>
                <label *ngIf="age.errors.pattern" style="color: red; font-size: small;">Age must be a positive number </label>
            </div>

            <textarea placeholder="Message" id="message" name="message"
                #message="ngModel" [(ngModel)]="contactUsModel.message" required ></textarea>  
            <label *ngIf="message.invalid && (message.dirty || message.touched) && message.errors.required"
                        style="color: red; font-size: small;">Message is required </label>

            <br>
            <button type="submit" (click)="submit(contactUsFrom)">Send</button>
        </form>

        <label *ngIf="successMsg != null || successMsg !=''" >{{successMsg}}</label>
    </div>
    <div class="section contact">
        <p>
            For Inquiries Please Call: <span>01022522351523</span>
        </p>
        <p>
            Or you can visit us at: <span>Stem Hub<br> Our Address</span>
        </p>
    </div>
</div>