<div id="contents">
    <div id="tagline" class="clearfix">
        <h1>Design With Simplicity.</h1>
        <div>
            <p>
                You can replace all this text with your own text. Want an easier solution for a Free Website?
            </p>
            <p>
                Head straight to Wix and immediately start customizing your website!
            </p>
            <p>
                Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web.
            </p>
        </div>
        <div>
            <p>
                You can replace all this text with your own text. Want an easier solution for a Free Website?
            </p>
            <p>
                Head straight to Wix and immediately start customizing your website!
            </p>
            <p>
                Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web.
            </p>
        </div>
    </div>
</div>