<h2>Contact Us Applications</h2>
<div class="example-container">    
    <table mat-table [dataSource]="dataSource" style="width: 100%;">  
        
        <ng-container matColumnDef="firstName" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> First Name </th>
            <td mat-cell *matCellDef="let row" style="width: 20%;text-align: center;"> {{row.firstName}}</td>
        </ng-container>

        <ng-container matColumnDef="lastName" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Last Name </th>
            <td mat-cell *matCellDef="let row" style="width: 20%;text-align: center;"> {{row.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="age" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Age </th>
            <td mat-cell *matCellDef="let row" style="width: 20%;text-align: center;"> {{row.age}}</td>
        </ng-container>

        <ng-container matColumnDef="message" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Message </th>
            <td mat-cell *matCellDef="let row" style="width: 20%;text-align: center;"> {{row.message}}</td>
        </ng-container>

        <ng-container matColumnDef="creationDate" >
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Creation Date </th>
            <td mat-cell *matCellDef="let row" style="width: 20%;text-align: center;"> {{row.creationDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>