<div id="adbox">
    <div class="clearfix">
        <div>
            <h1>Ideas?</h1>
            <h2>That's what we live for.</h2>
            <p>
                Wix is an online website builder with a simple drag & drop interface, meaning you do the work online and instantly publish to the web. <span><a href="index.html" class="btn">Try It Now!</a><b>Don’t worry it’s for free</b></span>
            </p>
        </div>
    </div>
</div>
