<div style="margin-top: 100px;">
    <p class="error-code">
        404
    </p>
    
    <p class="not-found">Not<br>Found</p>
    
    <div class="clear"></div>
    <div class="content">
        The page your are looking for is not found.
        <br>
        <a routerLink="/home">Go Home</a>
    </div>
</div>