	<div id="header">
		<div>			
			<ul id="navigation">
				<li class="active">
					<a routerLink="home"><h2>Home</h2></a>
				</li>
				<li>
					<a routerLink="about"><h2>About</h2></a>
				</li>
				<li>
					<a routerLink="contact-us"><h2>Contact Us</h2></a>
				</li>
				<li>
					<a routerLink="admin-panel"><h2>Admin Panel</h2></a>
				</li>
			</ul>
		</div>
  </div>
  
  <router-outlet></router-outlet>